@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Fredoka One', cursive;
        }

        html {
            font-size: 62.5%;
        }

        .main_div {
            width: 100vw;
            height: 100vh;
            background-color: #000;
            display: grid;
            place-items: center;
        }

        .center_div {
            width: 15rem;
            height: 15rem;
            position: relative;
        }

        h1 {
            color: #fff;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .rot {
            width: 15rem;
            height: 15rem;
            position: absolute;
            border-right: 0.3rem solid #fff;
            border-radius: 50%;
            animation: rot 2s linear infinite;
            -webkit-animation: rot 2s linear infinite;
            -moz-animation: rot 2s linear infinite;
        }

        @keyframes rot {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }

        @-webkit-keyframes rot {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }

        @-moz-keyframes rot {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }